<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <i class="fas fa-laptop"></i>
      &nbsp;
      DEVBLOGGER
    </a>
    <div class="navbar-burger" data-target="#mobile-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="mobile-menu" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="/blogs">All Blogs</a>

      <a class="navbar-item" href="/blogs/new">Add a blog</a>
  
      <a class="navbar-item" href="/register">Register</a>
      <a class="navbar-item" href="/login">Login</a>

    </div>
  </div>
</nav>
