<section class="hero is-large homepage grey">
  <div class="hero-body">
    <div class="container">
      <h1 class="subtitle has-text-white marker center is-1"><i class="fas fa-laptop"></i>DEVBLOGGER</h1>
    </div>
  </div>
</section>

<%# <div id="map"></div> %>
