<section class="hero is-large homepage">
  <div class="hero-body">
    <div class="container has-text-right">
      <h1 class="title has-text-white marker"><i class="fas fa-laptop"></i>DEVBLOGGER</h1>
      <h2 class="subtitle has-text-white marker">For anyone interested in tech and dev</h2>
    </div>
  </div>
</section>

<%# <div id="map"></div> %>
